/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  @apply text-sm;
}

h1 {
  @apply text-xl;
  @apply font-bold;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(305deg, #4055c2 0%, #45457a 46%, #323423 100%);
}
  
  
body {
  /* color: rgb(var(--text-color)); */
  --primary-color: #5878cc;
  background-color: #4055c2;
  background-image: linear-gradient(305deg, #4055c2 0%, #45457a 46%, #323423 100%);
  font-family: 'Inter', sans-serif; /* A modern, legible font */
}

@media (prefers-color-scheme: dark) {
body {
  color-scheme: dark;
  background-color: #96d13b;
  background-image: linear-gradient(62deg, #96d13b 0%, #d5c18f 100%); 

}
}

// animation time for the theme change
@media (prefers-reduced-motion: no-preference) {
  /* html {
    transition: smooth
  } */
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--primary-color)); /* Use the primary color for headings */
}

a {
  color: rgb(var(--primary-color));
  text-decoration: none; /* Cleaner look for links */
}

/* @layer utilities  */
button {
   background: bg-primary-color text-white font-medium;
}

html {
  scroll-behavior: smooth;
}
html {
  color-scheme: light;
  --background-color: white;
  --primary-color: #5878cc;
  --secondary-color: black;
  --neutral-color: #3f7fbf;
  --white-variant: #f4f4f4;
  --black-variant: #0e0e0e;
  --title-color: #0e0e0e;
  --shadow-color: rgba(0, 0, 0, 0.55);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --background: linear-gradient(305deg, #4055c2 0%, #45457a 46%, #323423 100%);
    --background-color: #96d13b;
    --primary-color: #3f7fbf;
    --secondary-color: #5878cc;
    --neutral-color: grey;
    --white-variant: #f4f4f4;
    --black-variant: #000;
    --title-color: #3f7fbf;
    --shadow-color: rgba(255, 255, 255, 0.15);
  }
}

/* p {
  @apply text-base text-text-color;
} */

/* Utility classes for common design patterns */
@layer utilities {
  .btn {
    @apply px-4 py-2 rounded-lg font-semibold transition-colors duration-200 ease-in-out;
  }
  
  .btn-primary {
    @apply bg-primary-color text-white;
    &:hover {
      @apply bg-opacity-90;
    }
  }

  .text-secondary {
    color: rgb(var(--secondary-color));
  }
}
